{% extends 'base.html.twig' %}

{% block title %}Edit CategorieD{% endblock %}

{% block body %}

<main id="main" class="main">

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
    <h1>Edit CategorieD</h1>

    {{ include('categorie_d/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('categorie_d/_delete_form.html.twig') }}
    <a href="{{ path('app_categorie_d_index') }}">back to list</a>


            </div></div></section></main>
{% endblock %}
