{{ form_start(form,{'attr':{'class':'form-control','style':'height:100%'}}) }}
    {{ form_widget(form) }}
    <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                  </div>
{{ form_end(form) }}
